.dockItemButton {
  height: 100%;
  width: auto !important;

  cursor: var(--app-cursor-default), auto;

  transition: all 200ms ease-in;

  transform-origin: bottom;
  padding: 0.1rem;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;

  & > span {
    display: flex;
    place-items: center;
  }
  &:hover{
    cursor: pointer;
  }

  .tooltip {

    white-space: nowrap;

    position: absolute;
    top: -155%;
    left: 20%;
    border: 2px;

    padding: 0rem 0.75rem;

    color: var(--app-color-light-contrast);
    font-family: var(--app-font-family);
    font-weight: 400;
    font-size: 0.9rem;
    letter-spacing: 0.4px;

    display: none;
  }

  &:hover,
  &:focus-visible {
    .tooltip {
      display: block;
    }
  }
}

.dot {
  height: 4px;
  width: 4px;

  margin: 0px;

  border-radius: 50%;

  background-color: var(--app-color-dark);

  opacity: var(--opacity);
}
