.emailBg {
    background-image: url('../public/backgrounds/emailBackground.jpg');
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center; /* Center the image */
    background-size: cover;
}